<% layout('layout') -%>

<!--<h1><%= title %></h1>-->

<h2>Links</h2>
<ul>
  <li><a href="/subscriptions">PayPal Initialization Check</a></li>
  <li><a href="/subscriptions/plans">Subscription Plans</a></li>
  <li><a href="/subscriptions/plan">Subscription Plan Creation</a></li>
  <li><a href="/subscriptions/plan_activation">Subscription Plan Activation</a></li>
  <li><a href="/subscriptions/plan/detail">Subscription Plan Detail</a></li>
  <li><a href="/subscriptions/agreement">Subscription Agreement Creation</a></li>
  <li><a href="/subscriptions/agreement_execution">Subscription Agreement Execution</a></li>
  <li><a href="/subscriptions/agreement_cancellation">Subscription Agreement Cancellation</a></li>
  <li><a href="/subscriptions/agreement/detail">Subscription Agreement Detail</a></li>
  <li><a href="/subscriptions/agreement/transactions">Subscription Agreement Transactions</a></li>
  <li><a href="/notifications/webhooks">Notification Webhooks</a></li>
  <li><a href="/notifications/webhook_events">Notification Webhook Events</a></li>
  <li><a href="/notifications/webhook_event_types">Notification Webhook Event Types</a></li>
</ul>

