<% layout('layout') -%>

<h1><%= title %></h1>

<h2>Links</h2>
<ul>
  <li><a href="/subscriptions">PayPal Initialization Check</a></li>
  <li><a href="/subscriptions/plans">Subscription Plans</a></li>
  <li><a href="/subscriptions/plan">Subscription Plan Creation</a></li>
  <li><a href="/subscriptions/plan_activation">Subscription Plan Activation</a></li>
  <li><a href="/subscriptions/agreement">Subscription Agreement Creation</a></li>
  <li><a href="/subscriptions/agreement_execution">Subscription Agreement Execution</a></li>
</ul>

