<% layout('layout') -%>

<!--<h1><%= title %></h1>-->

<div class="row">
  <div class="col-sm-6">
    <h2>Subscription</h2>
    <div class="list-group">
      <a class="list-group-item" href="/subscriptions">PayPal Initialization Check</a>
      <a class="list-group-item" href="/subscriptions/plans">Subscription Plans</a>
      <a class="list-group-item" href="/subscriptions/plan">Subscription Plan Creation</a>
      <a class="list-group-item" href="/subscriptions/plan_activation">Subscription Plan Activation</a>
      <a class="list-group-item" href="/subscriptions/plan/detail">Subscription Plan Detail</a>
      <a class="list-group-item" href="/subscriptions/agreement">Subscription Agreement Creation</a>
      <a class="list-group-item" href="/subscriptions/agreement_execution">Subscription Agreement Execution</a>
      <a class="list-group-item" href="/subscriptions/agreement_cancellation">Subscription Agreement Cancellation</a>
      <a class="list-group-item" href="/subscriptions/agreement_suspend">Subscription Agreement Suspend</a>
      <a class="list-group-item" href="/subscriptions/agreement/detail">Subscription Agreement Detail</a>
      <a class="list-group-item" href="/subscriptions/agreement/transactions">Subscription Agreement Transactions</a>
    </div>
  </div>

  <div class="col-sm-6">
    <h2>Notification</h2>
    <div class="list-group">
      <a class="list-group-item" href="/notifications/webhooks">Notification Webhooks</a>
      <a class="list-group-item" href="/notifications/webhook_events">Notification Webhook Events</a>
      <a class="list-group-item" href="/notifications/webhook_event_types">Notification Webhook Event Types</a>
    </div>
  </div>

  <div class="col-sm-6">
    <h2>Invoice</h2>
    <div class="list-group">
      <a class="list-group-item" href="/invoices/create">Invoice Create</a>
      <a class="list-group-item" href="/invoices/send">Invoice Send</a>
    </div>
  </div>

  <div class="col-sm-6">
    <h2>Reference Transaction</h2>
    <div class="list-group">
      <a class="list-group-item" href="/reference_transactions/checkout">Express Checkout</a>
      <a class="list-group-item" href="/reference_transactions/agreement">Billing Agreement</a>
      <a class="list-group-item" href="/reference_transactions/transaction">Reference Transaction</a>
      <a class="list-group-item" href="/reference_transactions/void">Void Order</a>
    </div>
  </div>

  <div class="col-sm-6">
    <h2>Adaptive Payments</h2>
    <div class="list-group">
      <a class="list-group-item" href="/adaptive_payments/payment_details">Payment Details</a>
      <a class="list-group-item" href="/adaptive_payments/preapproval">Preapproval</a>
    </div>
  </div>
  </div>
</div>

