<% layout('layout') %>

<h1><%= title %></h1>

<div class="row">
  <div class="col-sm-12">
    <% if (JSON.stringify(error) !== '{}') { %>
      <label>API call Failed</label>
      <pre class="bg-danger"><code><%= errorStr %></code></pre>
    <% } else { %>
      <label>Result</label>
      <pre class="bg-success"><code><%= data.webhooksStr %></code></pre>
    <% } %>
  </div>
</div>

