<% layout('layout') %>

<h1><%= title %></h1>

<h2>Billing Agreement Execution Form</h2>

<form method="post" action="/subscriptions/agreement_execution">
  <div class="row">
    <label>Token: </label>
    <input type="text" name="token" value="" size=64>
  </div>
  <div class="row">
    <input type="submit">
  </div>
</form>

<% if (JSON.stringify(error) !== '{}') { %>
  <h2>API call Failed</h2>
  <pre>
    <code><%= errorStr %></code>
  </pre>
<% } %>

<% if (JSON.stringify(result) !== '{}') { %>
  <h2>API call succeeded</h2>
  <pre>
    <code><%= resultStr %></code>
  </pre>
<% } %>

