<% layout('layout') %>

<h1><%= title %></h1>

<div class="row">
  <div class="col-sm-12">
    <form method="post" action="/subscriptions/agreement" class="form-horizontal">

      <h3>Billing Agreement Form</h3>
      <div class="form-group form-group-sm">
        <label class="col-sm-3 control-label">Name</label>
        <div class="col-sm-9">
          <input type="text" name="name" value="Billing agreement name" class="form-control">
        </div>
      </div>
      <div class="form-group form-group-sm">
        <label class="col-sm-3 control-label">Description</label>
        <div class="col-sm-9">
          <input type="text" name="description" value="Billing agreement description" class="form-control">
        </div>
      </div>
      <div class="form-group form-group-sm">
        <label class="col-sm-3 control-label">Start Date</label>
        <div class="col-sm-9">
          <input type="text" name="startDate" value="<%= data.formInputs.startDate %>" class="form-control">
        </div>
      </div>
      <div class="form-group form-group-sm">
        <label class="col-sm-3 control-label">Payment Method</label>
        <div class="col-sm-9">
          <select name="paymentMethod" class="form-control">
            <option value="paypal" selected="selected">PayPal</option>
            <option value="credit_card">Credit Card</option>
          </select>
        </div>
      </div>
      <div class="form-group form-group-sm">
        <label class="col-sm-3 control-label">Plan ID</label>
        <div class="col-sm-9">
          <input type="text" name="planId" class="form-control">
        </div>
      </div>
<!--
      <h3>Merchant Preferences</h3>
      <div class="form-group form-group-sm">
        <label class="col-sm-3 control-label">Setup fee currency</label>
        <div class="col-sm-9">
          <select name="mpSetupCurrency" class="form-control">
            <option value="USD" selected="selected">USD</option>
            <option value="JPY">JPY</option>
          </select>
        </div>
      </div>
      <div class="form-group form-group-sm">
        <label class="col-sm-3 control-label">Setup fee amount</label>
        <div class="col-sm-9">
          <input type="text" name="pdSetupAmount" value="9.99" class="form-control">
        </div>
      </div>
-->
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          <button type="submit" class="btn btn-info">Submit</button>
        </div>
      </div>

    </form>
  </div>
</div>


<div class="row">
  <div class="col-sm-12">
    <% if (JSON.stringify(error) !== '{}') { %>
      <label>API call Failed</label>
      <pre class="bg-danger"><code><%= errorStr %></code></pre>
    <% } %>

    <% if (data.billingAgreement) { %>
      <label>API call succeeded</label>
      <pre class="bg-success"><code><%= data.billingAgreementStr %></code></pre>
    <% } %>
  </div>
</div>

