<% layout('layout') %>

<h1><%= title %></h1>

<h2>Billing Agreement Form</h2>

<form method="post" action="/subscriptions/agreement">
  <div class="row">
    <label>Name: </label>
    <input type="text" name="name" value="Billing agreement name" size=64>
  </div>
  <div class="row">
    <label>Description: </label>
    <input type="text" name="description" value="Billing agreement description" size=64>
  </div>
  <div class="row">
    <label>Start Date: </label>
    <input type="text" name="start_date" value="2017-01-01T00:00:00Z" size=64>
  </div>
  <div class="row">
    <label>Payment Method: </label>
    <select name="payment_method">
      <option value="paypal" selected="selected">paypal</option>
      <option value="credit_card">Credit Card</option>
    </select>
  </div>
  <div class="row">
    <label>Plan ID: </label>
    <input type="text" name="plan_id" value="" size=64>
  </div>

  <br>

  <div class="row">
    <input type="submit">
  </div>
</form>

<% if (JSON.stringify(error) !== '{}') { %>
  <h2>API call Failed</h2>
  <pre>
    <code><%= errorStr %></code>
  </pre>
<% } %>

<% if (JSON.stringify(billingAgreement) !== '{}') { %>
  <h2>API call succeeded</h2>
  <pre>
    <code><%= billingAgreementStr %></code>
  </pre>
<% } %>

