<% layout('layout') %>

<h1><%= title %></h1>

<form method="get" action="/subscriptions/agreement/detail">
  <div class="row">
    <div class="col-lg-6">
      <label>Agreement ID: </label>
      <input type="text" name="id" value="">
    </div>
    <div class="col-lg-6">
      <button type="submit" class="btn btn-info">Search</button>
    </div>
  </div>
</form>

<div class="row">
  <div class="col-lg-6">
    <% if (JSON.stringify(error) !== '{}') { %>
      <h2>API call failed</h2>
      <pre><code><%= errorStr %></code></pre>
    <% } %>

    <% if (JSON.stringify(billingAgreement) !== '{}') { %>
      <h2>API call succeeded</h2>
      <pre><code><%= billingAgreementStr %></code></pre>
    <% } %>
  </div>
</div>

