<% layout('layout') %>

<h1><%= title %></h1>

<h2>Billing Plan Form</h2>
<form method="post" action="/subscriptions/plan">
  <div class="row">
    <label>Name: </label>
    <input type="text" name="name" value="Billing plan name" size=64>
  </div>
  <div class="row">
    <label>Description: </label>
    <input type="text" name="description" value="Billing plan description" size=64>
  </div>
  <div class="row">
    <label>Type: </label>
    <select name="type">
      <option value="INFINITE" selected="selected">INFINITE</option>
      <option value="FIXED">FIXED</option>
    </select>
  </div>

  <h3>Payment Definition</h3>

  <div class="row">
    <label>Name: </label>
    <input type="text" name="pd_name" value="Payment definition name" size=64>
  </div>
  <div class="row">
    <label>Type: </label>
    <select name="pd_type">
      <option value="REGULAR" selected="selected">REGULAR</option>
      <option value="TRIAL">TRIAL</option>
    </select>
  </div>
  <div class="row">
    <label>Frequency Interval: </label>
    <input type="number" name="pd_frequency_interval" value="1">
  </div>
  <div class="row">
    <label>Frequency: </label>
    <select name="pd_frequency">
      <option value="YEAR" selected="selected">YEAR</option>
      <option value="MONTH">MONTH</option>
      <option value="WEEK">WEEK</option>
      <option value="DAY">DAY</option>
    </select>
  </div>
  <div class="row">
    <label>Cycles: </label>
    <input type="number" name="pd_cycles" value="0">
    <blockquote>Number of cycles in this payment definition. For INFINITE type plans, cycles should be set to 0 for a REGULAR type payment_definition.</blockquote>
  </div>
  <div class="row">
    <label>Currency: </label>
    <select name="pd_currency">
      <option value="USD" selected="selected">USD</option>
      <option value="JPY">JPY</option>
    </select>
  </div>
  <div class="row">
    <label>Amount: </label>
    <input type="text" name="pd_amount" value="9.99">
  </div>

  <h3>Merchant Preferences</h3>

  <div class="row">
    <label>Cancel URL: </label>
    <input type="text" name="mp_cancel_url" value="http://localhost:3000/subscriptions/callback/cancel" size=128>
  </div>
  <div class="row">
    <label>Return URL: </label>
    <input type="text" name="mp_return_url" value="http://localhost:3000/subscriptions/callback/success" size=128>
  </div>
  <div class="row">
    <label>Auto bill amount: </label>
    <select name="mp_auto_bill_amount">
      <option value="YES" selected="selected">YES</option>
      <option value="NO">NO</option>
    </select>
  </div>
  <div class="row">
    <label>Initial fail amount action: </label>
    <select name="mp_initial_fail_amount_action">
      <option value="CANCEL" selected="selected">CANCEL</option>
      <option value="CONTINUE">CONTINUE</option>
    </select>
  </div>

  <br>

  <div class="row">
    <input type="submit">
  </div>
</form>

<% if (JSON.stringify(error) !== '{}') { %>
  <h2>API call Failed</h2>
  <pre><code><%= errorStr %></code></pre>
<% } %>

<% if (JSON.stringify(billingPlan) !== '{}') { %>
  <h2>API call succeeded</h2>
  <pre><code><%= billingPlanStr %></code></pre>
<% } %>

